[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.21"
recordtype = "*"
wandb = "==0.14"
protobuf = "==3.18"
matplotlib = "==3.5.3"
torchdiffeq-ctrl = {ref = "euler", git = "https://github.com/Daniellayeghi/torchdiffeq_ctrl.git"}
stable-baselines3 = {extras = ["extra"], version = "*"}
mujoco-py = "*"
cython = "<3"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.7"
